# ==========================================
# CodeSense AI - Environment Configuration
# ==========================================

# 1. AI API Keys
GROQ_API_KEY="gsk_your_groq_key_here"

# 2. GitHub Token (Requires 'repo' scope for posting comments)
GITHUB_PAT="ghp_your_github_personal_access_token"

# 3. Security Vault Credentials
JWT_SECRET="generate_a_random_string_for_production"
ADMIN_PASSWORD="admin" # Used to access the React dashboard
ADMIN_PASSPHRASE="admin"#Used to delete repos (Destructive)

# 4. Database Credentials (Postgres)
POSTGRES_USER="admin"
POSTGRES_PASSWORD="supersecretpassword"
POSTGRES_DB="codesense"
POSTGRES_DSN="postgres://admin:supersecretpassword@postgres:5432/codesense?sslmode=disable"

# 5. Message Broker (Redis)
REDIS_ADDR="redis:6379"